<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easontesting.myfirstapp"
    android:versionCode="3"
    android:versionName="VersionName 3">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SendMessageActivity" />
        <activity android:name=".DisplayMessageActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsArticles" />
        <activity android:name=".FindBeerActivity"
            android:label="@string/title_activity_find_beer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TimerActivity" />
        <activity android:name=".CarParkTimer" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".TopLevelActivity" />
        <activity android:name=".DrinkCategoryActivity"
            android:label="@string/title_activity_drink_category" />
        <activity android:name=".DrinkActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".BroadcastReceiverTestActivity" />
        <!-- BroadcastReceiver ON all timec -->
        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="Action_1" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <activity android:name=".StartedServiceActivity" />

        <service android:name=".DelayedMessageService"
            android:exported="false" />
        <!-- android:exported="false" Can't be used by other apps -->
        <service android:name=".BackgroundMP3Service"
            android:exported="false" />

        <activity android:name=".BoundServiceActivity" />

        <service android:name=".OdometerService"
            android:enabled="true"
            android:exported="false">

            <!-- android:enabled="true" Can be used by this app -->
            <!-- android:exported="false" Can't be used by other apps -->
        </service>

        <activity android:name=".WorkoutDetailIndependentActivity" />
        <activity android:name=".ActionBarActivity"
            android:label="@string/btn_to_actionbar"
            android:theme="@style/AppTheme2" />
        <activity android:name=".OrderActivity"
            android:label="@string/action_create_order"
            android:parentActivityName=".ActionBarActivity"
            android:theme="@style/AppTheme2">

            <!-- android:parentActivityName for API 16 or above -->
            <!-- <meta-data for API below 16 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActionBarActivity" />
        </activity>
        <activity android:name=".MatchingGameActivity"
            android:label="@string/btn_to_matching_game" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".PostWebserviceActivity" />
        <activity android:name=".BaseAdapterListViewActivity" />
        <activity android:name=".SimpleAdapterListViewActivity" />
        <activity android:name=".PWOSActivity" />
        <activity android:name=".AuthenticationActivity" />
        <service android:name=".FCMreceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>